/* Estilo General del Header */
.header {
    width: 100%;
    background-color: #2c3e50; /* Color de fondo elegante */
    padding: 10px 0; /* Espacio superior e inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegurar que esté encima de otros elementos */
    animation: slideDown 0.8s ease-in-out; /* Animación de entrada */
  }
  
  /* Contenedor del Header */
  .header-container {
    display: flex;
    justify-content: space-between; /* Espacio entre logo y navbar */
    align-items: center;
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centrado horizontal */
    padding: 0 20px; /* Espaciado lateral */
  }
  
  /* Contenedor del Logo */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  /* Estilo del Logo */
  .logo {
    width: 100px; /* Ajustar el tamaño del logo */
    height: auto;
    transition: transform 0.5s ease-in-out; /* Transición suave */
    cursor: pointer; /* Cursor interactivo */
  }
  
  /* Efecto hover en el logo */
  .logo:hover {
    transform: rotate(360deg) scale(1.1); /* Rotación y ampliación */
  }
  
  /* Contenedor de la Barra de Navegación */
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo de los Links en la Barra de Navegación */
  .navbar-container a {
    color: #ecf0f1; /* Color claro para el texto */
    font-size: 1rem;
    font-weight: 600;
    margin: 0 15px; /* Espacio entre enlaces */
    text-decoration: none; /* Eliminar subrayado */
    position: relative; /* Para efecto de línea inferior */
    transition: color 0.3s ease-in-out; /* Transición de color */
  }
  
  /* Efecto hover en los enlaces */
  .navbar-container a:hover {
    color: #1abc9c; /* Cambiar color al pasar el mouse */
  }
  
  /* Animación de línea inferior en los enlaces */
  .navbar-container a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #1abc9c; /* Color de la línea */
    left: 0;
    bottom: -5px; /* Ubicación de la línea */
    transition: width 0.3s ease-in-out; /* Animación de expansión */
  }
  
  .navbar-container a:hover::after {
    width: 100%; /* Línea se expande completamente */
  }
  
  /* Animación de entrada del Header */
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  /* Adaptabilidad para dispositivos móviles */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column; /* Dirección en columna para móviles */
      align-items: center;
    }
  
    .logo-container {
      margin-bottom: 10px; /* Espacio inferior en móviles */
    }
  
    .navbar-container {
      flex-direction: column; /* Navbar en columna */
    }
  
    .navbar-container a {
      margin: 10px 0; /* Espaciado vertical en móviles */
    }
  }
  